---
import Candle from '../components/Candle.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<main class='w-screen h-[100lvh] bg-black flex items-end justify-center'>
		<Candle />
	</main>
</Layout>
