<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/png' href='/favicon-96x96.png' sizes='96x96' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<link rel='shortcut icon' href='/favicon.ico' />
		<link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
		<link rel='manifest' href='/site.webmanifest' />
		<meta name='generator' content={Astro.generator} />
		<meta name='description' content='A beautiful candle glow effect demonstration.' />
		<meta name='keywords' content='candle, glow, effect, demonstration, lighting' />
		<meta name='author' content='Your Name' />
		<meta property='og:title' content='Candle Glow' />
		<meta property='og:description' content='A beautiful candle glow effect demonstration.' />
		<meta property='og:image' content='/candle-seo.png' />
		<meta property='og:url' content='https://candle-glow.vercel.app' />
		<meta name='twitter:card' content='summary_large_image' />
		<meta name='twitter:title' content='Candle Glow' />
		<meta name='twitter:description' content='A beautiful candle glow effect demonstration.' />
		<meta name='twitter:image' content='/candle-seo.png' />
		<title>Candle Glow</title>
	</head>
	<body class='bg-black'>
		<slot />
	</body>
</html>
